@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body{
    background-repeat: no-repeat;
    background-size:cover ;
    background-image:url("https://64.media.tumblr.com/00ec803404f6e9d6583f92d8870b5fb8/tumblr_p7k8f3fMWS1wvbydeo1_1280.png");
    font-family:'Press Start 2P';
    background-color: black; 
    color: white;
    border-style: solid;
    border-color: azure;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
    "nav nav nav"
    "battle battle battle"
    ". menu ."
    ;
}



h1 {
    color: white;
    text-align: center;
    
}

.battle{
    
    
    grid-area: battle;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "hero  demon" 
    ;

}

.demon{
    height: 400px;
    grid-area: demon;
    padding-top: 10em;
    margin-left: auto;
    margin-right: auto;
    
}

.hero{ 
    height: 200px;
    grid-area: hero;
    padding-top: 15em;
    margin-left: auto;
    margin-right: auto;
    
}

.menu{
  
  position: center;
  background-color: black; 
  grid-area: menu;  
  text-align: center;
  border-style: solid;
  border-width: 50%;
  border-color: azure;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr ;
  grid-template-areas: 
  "options info"
  ;
}
.options{
    grid-area: options;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
    grid-template-areas: 
        "about-me"
        "resume"
        "projects"
        "links"
    
    ;
}

.info{
    grid-area: info;
}
.resume:hover {
     background: url("../assets/FF7Cursor.png");
     background-repeat: no-repeat;
     background-position: center;
     background-position-x: left;
      
}

.about-me{
    grid-area: about-me;
  justify-content: center; 
   align-items: center;
   display: flex;
    
}

.about-me:hover{
         background: url("../assets/FF7Cursor.png");
         background-repeat: no-repeat;
         background-position: center;
         background-position-x: left;
}

.resume {

    grid-area: resume;
    text-decoration: none;
     justify-content: center;
     align-items: center;
     display: flex;
}

.resumeText{
    color: azure;
    text-decoration: none;
}

.projects {
    grid-area: projects;
     justify-content: center;
     align-items: center;
     display: flex;
}

.projects:hover {
    background: url("../assets/FF7Cursor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
}

.contacts {
    grid-area: links;
     justify-content: center;
     align-items: center;
     display: flex;
}

.contacts:hover {
    background: url("../assets/FF7Cursor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
}

.nav{
    text-align: center;
    
    grid-area: nav;
}



.menu {
    margin-bottom: 5em;
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
    

    background: red;
    background: -moz-linear-gradient(top, red 0%, #4d0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #06004d));
    background: -webkit-linear-gradient(top, red 0%, #4d0000 100%);
    background: -o-linear-gradient(top, red 0%, #4d0000 100%);
    background: -ms-linear-gradient(top, red 0%, #4d0000 100%);
    background: linear-gradient(to bottom, red 0%, #4d0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04009d', endColorstr='#06004d', GradientType=0);


    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.info{
    margin-bottom: 5em;
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
    -1px -1px #e7dfe7,
    1px -1px #e7dfe7,
    -1px 1px #e7dfe7,
    0 -2px #9c9a9c,
    -2px 0 #7b757b,
    0 2px #424542;


    background: red;
    background: -moz-linear-gradient(top, rgb(175, 0, 0) 0%, #4d0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #06004d));
    background: -webkit-linear-gradient(top, rgb(175, 0, 0), #4d0000 100%);
    background: -o-linear-gradient(top, rgb(175, 0, 0), #4d0000 100%);
    background: -ms-linear-gradient(top, rgb(175, 0, 0), #4d0000 100%);
    background: linear-gradient(to bottom, rgb(175, 0, 0), #4d0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04009d', endColorstr='#06004d', GradientType=0);


    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}


