:root{
<<<<<<< HEAD
    --bg-color: hsl(0, 0%, 15%);
=======
    /*--bg-color: hsl(0, 0%, 15%);*/
    --bg-color: hsl(0, 0%, 0%); 
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
    --typewriterSpeed: 4s;
    --typewriterCharacters:26;
}

body {
    margin: 0;
<<<<<<< HEAD
    font-family: "Source Sans Pro",sans-serif;
=======
    font-family: 'DotGothic16',
    sans-serif;
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
}

h1{
<<<<<<< HEAD
    font-size: clamp(1rem,3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro",monospace;
    position: relative;
    color: hsl(49 37% 94%);
=======
    font-size: clamp(1.5rem,3vw + 1rem, 4rem);
    position: relative;
    font-family: 'DotGothic16',
    sans-serif;
    position: relative;
    color: white;
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
}

h1::before,
h1::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
}

h1::before{
    background: var(--bg-color);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after{
    width: 0.125em;
<<<<<<< HEAD
    background: hsl(49 37% 94%);
=======
    background: white;
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 600ms steps(24) infinite;

}
<<<<<<< HEAD

.subtitle {
    text-decoration: none;
    color: hsl(49 37% 94%);
=======
.sauce{    
    display: flex;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 0.05em currentColor;

}
.webDev{
    font-size: 2em;
    margin-right:1em;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 2s)forwards;
}

.music {
    font-size: 2em;
    margin-right: 1em;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1.5s ease calc(var(--typewriterSpeed) + 2s)forwards;
}

.somethingElse{
    margin-right:1em;
    font-size: 2em;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s)forwards;
}

.somethingEvil{    
    font-size: 2em;
    color: red;
    transition: all 1s;
    align-items: center;
    animation:slide 2s ease, Evil 3s +2s forwards;
}

.fadeUp{
    align-items: center;
    margin-right:1em;
    font-size: 2em;
    color: white;  
    cursor: pointer;
    text-shadow: 0 0 0.05em currentColor;  
    animation: fadeInUpAfter 1000ms linear forwards;
}
.pointer{  
    background: url("../assets/FF7Cursor.png");
    margin-right: 1em;
    transform: translateY(3rem);
    animation: fadeInUp 2.2s ease calc(var(--typewriterSpeed) + 2s)forwards;
    cursor: pointer;
    text-shadow: 0 0 0.05em currentColor;
    /*Hover effect*/ 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.pointer:active{
   display: none;
}


.enter-btn{
    align-items: center;
    padding-right: 2.5em;
    margin-right: 6em;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2.6s ease calc(var(--typewriterSpeed) + 2s)forwards;
    cursor: pointer;
    
}

.subtitle {  
    text-decoration: none;
    color: white;
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
<<<<<<< HEAD
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s)forwards;
    cursor: pointer;
    border: hsl(49 37% 94%) 0.125em solid;
    border-radius: 0.25em;

    text-shadow: 0 0 0.05em currentColor;
}

.subtitle:hover{
    background-color: hsl(49 37% 94%);
    color: var(--bg-color);
=======
    animation: fadeInUp 2.5s ease calc(var(--typewriterSpeed) + 2s)forwards;
    cursor: pointer;
}



.beforeSpawn{
    opacity: 0;
}


.battle{
    
}

.intro-demon{  
    grid-area: intro-text; 
    
    grid-column: 3;
    color: white;
    font-size: 2rem;
}
.demon{
    grid-area: demon;
    justify-self: center;
    opacity: 0;  
    height: 50em;
    width: 50em;
    animation: demonSpawn 2s ease forwards;
}

@keyframes demonSpawn {
    0%{
        opacity: 0;
    }

    33%{
        opacity:0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}
@keyframes slide {
  to {
      margin-left:-6em;
    }   
}

@keyframes Evil {
    0%{
        margin-left:-6em;
        opacity: 1;
    }

    100%{
        margin-top: -6em;
        opacity:0
    }
}


/*falling effect*/


/*animations */
@keyframes floating {
    0% {
       
        transform: translate(0, 0px);
    }

    50% {
        
        transform: translate(0, 15px);
    }
    
    100% {
        
        transform: translate(0, -0px);
    }
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
}


@keyframes typewriter {
    to {
        left:100%
    }
}

@keyframes blink {
    to{
<<<<<<< HEAD
       background: transparent;
=======
        background: transparent;
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
    }
}

@keyframes fadeInUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
<<<<<<< HEAD
=======
}

@keyframes fadeInUpAfter {
    0% {
        opacity:1;
    }
    100%{
        opacity: 0;
         margin-right: 1em ;
    }
}


@media only screen and (max-width: 520px) {
    body {
        display: inline;
        
    }
    
    h1{
        text-decoration: none;
        font-size: clamp(0.5rem, 1.5vw + 1rem, 4rem);
        position: relative;
        place-content: center;
        text-align: center;
        margin-top: 10em;
    }

    .enter-btn{
        margin-right:3em ;
    }
    
    .webDev {
        font-size: 1rem;
    }
    
    .music {
        font-size: 1rem;      
        padding-left: 1em;       
    }

    .somethingElse {
        font-size: 1rem;    
    }



    
>>>>>>> c6c036cf140fefcdec0fd29d148bfbd0f2837e84
}